# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/

# Logs
*.log

# Test files
tests/

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Other
tmp/
